.movies-grid {
  display: grid;
  gap: 2rem;
  color: hsl(var(--text-primary));
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  @media (max-width: 720px) {
    padding-top: 1rem;
  }
}

