@keyframes blink {
  50% {
    color: var(--danger-700);
  }
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  width: 100%;
  height: 4rem;
  color: white;
  padding: 0.5rem 1rem;
  min-height: 3.125rem;
  border-radius: 0;
  border: 0.0625rem solid transparent;
  background: hsla(var(--dark-blue), 0.8);

  @media (max-width: 480px) {
    flex-direction: column;
  }

  .header__info {
    display: flex;
    align-items: center;
  }

  .header__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .input-group {
    display: flex;
    align-items: center;
    width: 15rem;

    @media (max-width: 720px) {
      width: 9rem;
    }
  }

  nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;

    a {
      display: inline-block;
      margin: 0 0.2rem 0;

      &.nav-fav {
        font-size: 0.8rem;
        color: hsl(var(--light-gray));
        text-decoration: none;

        &:hover {
          color: white;
        }
      }
    }
  }

  .starred_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 0.85rem;
    font-weight: 700;
    border-radius: 50%;
    background: var(--danger);
  }

  .star-number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.85rem;
    transform: translate(-50%, -50%);
    color: var(--danger);
    text-decoration: none;
    z-index: 20;
  }

  .i {
    color: white;
  }

  .flash {
    animation: blink 0.4s;
  }
}

