.container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: linear-gradient(0deg, var(--primary) 20%, #050b45 100%) no-repeat;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 2rem 2rem;
}
